src/main/mule/rfa-api-worldtime.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="rfa-api-worldtimeFlow" doc:id="c508416e-17c2-4483-b7d3-0c769adaf03f" >
		<http:listener doc:name="Listener" doc:id="d6a5d38e-c422-4a21-8e05-85b07a2e27d2" path="/{region}/{city}" config-ref="HTTP_Listener_config"/>
		<http:request method="GET" doc:name="Request" doc:id="5d1b8071-328c-434a-a2a1-671397692041" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="211ace23-9d9e-4afa-83d9-d10cea0e9217" message='"time"'/>
	</flow>
</mule>
